.rmdb-loadmorebtn {
  background: #16d47b;
  width: 100%;
  height: 2rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.rmdb-loadmorebtn p {
  font-family: 'Abel', sans-serif;
  font-size:1.5rem;
  /* padding: 1rem; */
  font-weight: bold;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}